<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fornecedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Fornecedores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class="ion-grid-padding">
      <ion-row>
        <ion-col sizeXs="2">#</ion-col>
        <ion-col sizeXs="7">Nome</ion-col>
        <ion-col class="hidden-xs-col">Quantidade</ion-col>
        <ion-col class="hidden-xs-col">Preço de Venda</ion-col>
        <ion-col class="hidden-xs-col">Preço de Compra</ion-col>
        <ion-col class="hidden-xs-col">Fornecedor</ion-col>
        <ion-col sizeXs="3" class="show-xs-col hidden-md-col hidden-xl-col hidden-lg-col">Detalhes</ion-col>
      </ion-row>
      <ion-row *ngFor="let fornecedores of fornecedor">
        <ion-col sizeXs="2">{{ fornecedores.id }}</ion-col>
        <ion-col sizeXs="7">{{ fornecedores.razao_social }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedores.cnpj}}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedores.contato }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedores.endereco }}</ion-col>
      <ion-col sizeXs="3" class="show-xs-col hidden-md-col hidden-xl-col hidden-lg-col"><ion-button class="btn-modal" fill="clear" (click)="openModal(fornecedores.id)"><ion-icon name="ellipsis-horizontal-sharp"></ion-icon></ion-button></ion-col>
    </ion-row>
    </ion-grid>
    <div class="ion-modal-content"></div>
  </ion-content>
</ion-content>
