<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Novo Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="ProductFormGroup"
  #contactFormGroupDirective="ngForm"
  (ngSubmit)="createProduct(ProductFormGroup.value)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome:</ion-label>
        <ion-input formControlName="nome" inputmode="text" clearInput="true" required></ion-input>
      </ion-item>

    <ion-item>
            <ion-label position="stacked">Quantidade:</ion-label>
            <ion-input
              formControlName="quantidade"
              inputmode="number"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>

      <ion-item>
            <ion-label position="stacked">Preço de Compra:</ion-label>
            <ion-input
              formControlName="valorCompra"
              inputmode="number"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>

      <ion-item>
            <ion-label for="" position="stacked">Porcentagem:</ion-label>
            <ion-input
              inputmode="number"
              clearInput="true"
              formControlName="porcentagem"
              (change)="calcVenda()"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Preço de Venda:</ion-label>
            <ion-input
              formControlName="valorVenda"
              inputmode="number"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fornecedor:</ion-label>
            <ion-input
              formControlName="fornecedor"
              inputmode="text"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Razão Social:</ion-label>
            <ion-input
              formControlName="razaoSocial"
              inputmode="text"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">CNPJ:</ion-label>
            <ion-input formControlName="cnpj" inputmode="text"
            clearInput="true" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefone:</ion-label>
            <ion-input
              formControlName="telefone"
              inputmode="text"
              clearInput="true"
              required
            ></ion-input>
          </ion-item>
            <ion-item-divider>
              <ion-label>Dados Endereço</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">CEP:</ion-label>
              <ion-input
                (change)="loadEndereco()"
                formControlName="cep"
                type="text"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Logradouro:</ion-label>
              <ion-input
                formControlName="logradouro"
                type="text"
                required
                readonly
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Bairro:</ion-label>
              <ion-input
                formControlName="bairro"
                type="text"
                required
                readonly
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Cidade:</ion-label>
              <ion-input
                formControlName="localidade"
                type="text"
                required
                readonly
              ></ion-input>
            </ion-item>
          <ion-item lines="none">
            <ion-buttons>
              <ion-button type="submit">Salvar</ion-button>
            </ion-buttons>
          </ion-item>
    </ion-list>
  </form>
</ion-content>
