<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ editable ? 'Editar' : 'Cadastrar'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ editable ? 'Editar Produto' : 'Cadastro de Produto'}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="productForm" #ProductForm="ngForm" fullscreen (submit)="editable ? editProduct(): addProduct(ProductForm.value)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Produto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nome do Produto</ion-label>
            <ion-input formControlName="nome" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Quantidade</ion-label>
            <ion-input formControlName="quantidade" type="number" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Preço de Compra</ion-label>
            <ion-input formControlName="preco_compra" type="number" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Porcentagem de Venda</ion-label>
            <ion-input formControlName="porcentagem" type="number" required></ion-input>
          </ion-item>
            <ion-input formControlName="preco_venda" [value]="calcVenda()" hidden></ion-input>
          <ion-item>
            <ion-label position="stacked">Fornecedor</ion-label>
            <ion-input formControlName="fornecedor" type="text" required></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-list>
      <div class="ion-padding">
        <ion-button [disabled]="productForm.invalid" expand="block" type="submit" class="ion-no-margin">{{ editable ?
          'Editar' : 'Registrar'}}</ion-button>
      </div>
    </form>
  </ion-content>
</ion-content>
