<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Procurar Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="searchFG" #searchFGD="ngForm" (ngSubmit)="search(searchFG.value)">
    <ion-item>
      <ion-input formControlName="nome" placeholder="Enter the name" required></ion-input>
      <ion-button type="submit" color="primary" [disabled]="!searchFG.valid">
        Find
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
  <ion-accordion-group>
    <ion-accordion *ngFor="let product of productList">
      <ion-item slot="header" color="dark">
        <ion-label>{{product.nome}} {{product.fornecedor}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>{{product.quantidade}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.valorCompra}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.porcentagem}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.valorVenda}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.razaoSocial}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.cnpj}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.telefone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.cep}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.logradouro}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.bairro}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{product.localidade}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
